form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#clear-results {
    width: 10em;
}
.recent-search {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px 0px;
}
.wrap-buttons {
    border: 1px solid lightgray;
    margin-left: .5em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}
.btn-delete {
    border-left: 1px solid black;
    border-radius: 0;
}